apiVersion: v1
kind: ConfigMap
metadata:
  name: planka-generic-configmap
  namespace: planka
data:
  BASE_URL: http://localhost:3000
  POSTGRES_DB: planka
  POSTGRES_USER: planka
  POSTGRES_HOST_AUTH_METHOD: trust
  DEFAULT_ADMIN_EMAIL: demo@demo.demo
  DEFAULT_ADMIN_NAME: Demo
  DEFAULT_ADMIN_USERNAME: demo