apiVersion: v1
kind: Secret
metadata:
  name: planka-generic-secrets
  namespace: planka
type: Opaque
data:
  POSTGRES_PASSWORD: base64 postgres pass
  DATABASE_URL: postgresql://postgres:$${DATABASE_PASSWORD}@localhost/planka
  SECRET_KEY: base64 secret pass
  DEFAULT_ADMIN_PASSWORD: base64 admin pass