apiVersion: v1
kind: Secret
metadata:
  name: immich-generic-secrets
  namespace: immich
type: Opaque
data:
  JWT_SECRET: {YOUR_BASE64_JWT_SECRET}
  DB_PASSWORD: {YOUR_BASE64_DATABASE_PASSWORD}
  POSTGRES_PASSWORD: {YOUR_BASE64_DATABASE_PASSWORD}