apiVersion: v1
kind: ConfigMap
metadata:
  name: swag-generic-configmap
  namespace: swag
data:
  TZ: "Europe/Amsterdam"
  PUID: "1000"
  PGID: "1000"
  URL: {YOURDOMAIN.com}
  EXTRA_DOMAINS: ""
  SUBDOMAINS: "wildcard"
  VALIDATION: "dns"
  DNSPLUGIN: "cloudflare"
  EMAIL: {YOUREMAIL@email.com}
  #DOCKER_MODS: "linuxserver/mods:swag-dashboard"