apiVersion: v1
kind: Secret
metadata:
  name: openarchiver-generic-secrets
  namespace: openarchiver
type: Opaque
data:
  DATABASE_URL: ""  # postgresql://admin:password@postgres:5432/open_archive
  POSTGRES_PASSWORD: ""
  MEILI_MASTER_KEY: ""
  REDIS_PASSWORD: "" 
  STORAGE_ENCRYPTION_KEY: ""  # Empty - generate with: openssl rand -hex 32
  JWT_SECRET: ""  # a-very-secret-key-that-you-should-change
  ENCRYPTION_KEY: ""  # Empty - generate with: openssl rand -hex 32
