apiVersion: v1
kind: Secret
metadata:
  name: karakeep-generic-secrets
  namespace: karakeep
type: Opaque
data:
  NEXTAUTH_SECRET: [generate with <openssl rand -base64 36>]
  MEILI_MASTER_KEY: [generate with <openssl rand -base64 36 | tr -dc 'A-Za-z0-9'>]